{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% set page_title = 'Dashboard' %}
{% block content %}
<div class="dashboard-card">
    <div class="dashboard-iframe-wrapper">
        <iframe 
            src="https://datastudio.google.com/embed/reporting/42579ec6-db37-4325-989c-9161a024ce37/page/p_ebn8r5rn3d"
            allowfullscreen
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
        </iframe>
    </div>
</div>
{% endblock %}